<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pixel List: The Smart To Do List</title>
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

    <!--Layout CSS-->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  </head>
  <body>
        <div style="height: 15em;" class="jumbotron">
                <!-- <div class="container"> -->
       <h1> Pixel
           <br>
           List</h1></>
           <!-- <label>The smart</label> -->
      
    <!-- <div class="jumbotron">
          <div class="container">
    <h1>PixelList</h1> -->
    <div class="login" id=login>
      <form method="POST" action="/api/login">
            <input type="text" name="username" required placeholder="username"/>
            <input type="password" name="password" required placeholder="password" />
            <input type="submit" value="Submit"/>
      </form>
</div>
    </div>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</body>
</html>
