<!DOCTYPE html>
<html lang="en">

<head>

  <body>
    <title>Pixel List</title>
    <form action="api/profile" method="POST" >
      <div >
        <span>New Password:</span>
        <input type="password" name="newpassword">
      </div>
      <button style='display: inline-block' type="submit">Update</button>
    </form>
  </body>
</head>
</html>