<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <!-- External ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <div class="container">
    <div class="col-md-auto">
        <form align="center" method="POST" action="/api/users/items">
          <label hidden for="newItem">New Item</label>
          <input type="text" name="newItem" placeholder="I need to...">
          <label for="dueDate">Due Date</label>
          <input type="date" min='2018-05-31' id="dueDate" name="dueDate">
          <input type="submit" value="Add Item">
          <!-- <button type="submit">Add Item</button> -->
          <!-- <input type="button" id="addItem" name="addItem" value="Add Item" /> -->
        </form>
        <br>
</div>
<div class="row">    
      <div class="col-sm">
        <div id="categories" class="container-fluid text-center">
            <div class="col-xs-6 col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">Books</div>
            <div class="panel-body" id="cat1"></div>
          </div>
          </div>
              <div class="col-xs-6 col-sm-3">
                  <div class="panel panel-default">
            <div class="panel-heading">Entertainment</div>
            <div class="panel-body" id="cat2"></div>
          </div>
          </div>
          <div class="col-xs-6 col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">Places</div>
            <div class="panel-body" id="cat3"></div>
          </div>
          </div>
              <div class="col-xs-6 col-sm-3">
                  <div class="panel panel-default">
            <div class="panel-heading">Products</div>
            <div class="panel-body" id="cat4"></div>
          </div>
          </div>
          <div class="col-xs-6 col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">Other</div>
            <div class="panel-body" id="cat5"></div>
          </div>
          </div>
        </div>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
          <!-- Modal -->
<div class="modal fade" id="myModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>