<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
<% include ./partials/_header %>
</header>

    <div id="userlist" class="header">
      <form method="POST" action="/api/users/items" >
      <label for="newItem">New Item</label>
      <input type="text" id="newItem" name="newItem" >
      <label for="dueDate">Due Date</label>
      <input type="date" min='2018-05-31' id="dueDate" name="dueDate" >
      <input type="submit" value="Add Item">
      <!-- <button type="submit">Add Item</button> -->
      <!-- <input type="button" id="addItem" name="addItem" value="Add Item" /> -->
    </form>
    </div>
  <div id="categoryFilm">
    <h3>Films to Watch</h3>
    <ul id="list"/>
    <li id="li"></li>
      <li></li>
      <li></li>
    </ul>
    </div>
<!--
    <div id="categoryOther">
      <h3>Other</h3>
      <ul id="categoryOther"/>
      <li></li>
        <li></li>
        <li></li>
      </ul>
      </div>
      <div id="categoryBooks">
        <h3>Books</h3>
        <ul id="categoryBooks"/>
        <li></li>
          <li></li>
          <li></li>
        </ul>
        </div>
        <div id="categoryProducts">
          <h3>Products to Buy</h3>
          <ul id="categoryProducts"/>
          <li></li>
            <li></li>
            <li></li>
          </ul>
          </div>
          <div id="categoryPlaces">
            <ul id="categoryPlaces"/>
            <li></li>
              <li></li>
              <li></li>
            </ul>
            </div> -->
  </body>
</html>
