<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
  </head>

  <body>
    <h1 align='left'> REGISTER </h1>
    <form action="/register" method="POST">
      <label> Email: </label>
      <input id='username' type="username" name="username" />
      <label> Password: </label>
      <input id='password' type="password" name="password" />
      <input type='submit' value='Register' />
      <form action='/login'>
    </form>
  </body>
</html>
